:root {
  --primary: #f0f0f0;
  --secondary: #3498db;
  --tertiary: #0f5788;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
}

#header-container {
  background-color: var(--tertiary);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

#header-container h1 {
  margin: 0;
  font-size: 2rem;
}

#question-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#question,
#choices {
  margin: 20px;
}

h1,
h2 {
  text-align: center;
}

button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: var(--secondary);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--tertiary);
}

#result-container {
  display: none;
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#round-score-container {
  margin: 25px;
}

#round-score {
  font-weight: bold;
  color: #3498db;
}

#last-score-container {
  width: 300px;
  margin: 50px auto;
  color: #fff;
  background-color: var(--tertiary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) {
  #question-container,
  #result-container {
    max-width: 90%;
  }
}
